**DATA PRE-PROCESSING**

In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import yfinance as yf

In [6]:
symbol = 'NVDA'
start = '2015-01-01'
end = '2024-01-01'

dataset = yf.download(symbol, start, end)
dataset.head()

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open     Volume
Ticker          NVDA      NVDA      NVDA      NVDA       NVDA
Date
2015-01-02  0.483099  0.486699  0.475419  0.483099  113680000
2015-01-05  0.474939  0.484539  0.472779  0.483099  197952000
2015-01-06  0.460540  0.476139  0.460060  0.475659  197764000
2015-01-07  0.459340  0.467980  0.457900  0.463900  321808000
2015-01-08  0.476619  0.479499  0.464380  0.464620  283780000

In [8]:
X = dataset.iloc[ :, :-1].values
Y = dataset.iloc[ :, 3].values

In [ ]:
#Handling missing data

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = "mean")
imputer = imputer.fit(X[ :, 1:3])
X[ :, 1:3] = imputer.transform(X[ :, 1:3])

In [16]:
#Encoding Categorical Data

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_x = LabelEncoder()
X[ : , 0] = labelencoder_x.fit_transform(X[ : , 0])

In [18]:
#Creating Dummy Variable

onhotencoder = ColumnTransformer(
    transformers = [('encoder',OneHotEncoder(), [0])],
    remainder = 'passthrough'
)
X = onhotencoder.fit_transform(X).toarray()
labelencoder_Y = LabelEncoder()
Y = labelencoder_Y.fit_transform(Y)

In [19]:
#Splitting the dataset into training sets and test sets

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0 )

In [20]:
#Feature Scaling

from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
X_train = sc_x.fit_transform(X_train)
X_test = sc_x.fit_transform(X_test)