***DATA CLEANING FOR ML***

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns

import warnings 
warnings.filterwarnings('ignore')

import yfinance as yf

In [2]:
stock = 'AAPL'
start = '2004-01-01'
end = '2024-01-01'

dataset = yf.download(stock, start, end)
dataset.columns = dataset.columns.get_level_values(0)
dataset.head()

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open     Volume
Date
2004-01-02  0.319777  0.326839  0.318274  0.323834  144642400
2004-01-05  0.333151  0.336456  0.321880  0.321880  395018400
2004-01-06  0.331948  0.336907  0.326239  0.334353  509348000
2004-01-07  0.339462  0.343069  0.329544  0.332099  586874400
2004-01-08  0.351033  0.356593  0.340363  0.343219  460303200

In [4]:
dataset['Increase_Decrease'] = np.where(dataset['Volume'].shift(-1) > dataset['Volume'],1,0)
dataset['Buy_Sell_on_Open'] = np.where(dataset['Open'].shift(-1) > dataset['Open'],1,0)
dataset['Buy_Sell'] = np.where(dataset['Close'].shift(-1) > dataset['Close'],1,0)
dataset['Returns'] = dataset['Close'].pct_change()
dataset = dataset.dropna()

print(dataset.nunique())

Price
Close                4914
High                 5032
Low                  5032
Open                 5032
Volume               5015
Increase_Decrease       2
Buy_Sell_on_Open        2
Buy_Sell                2
Returns              5020
dtype: int64

In [5]:
print(dataset.shape)

(5032, 9)

In [6]:
counts = dataset.nunique()
to_del = [i for i, v in enumerate(counts) if v == 1]
print(to_del)

[]

In [7]:
dataset.drop(to_del, axis = 1, inplace =True)
print(dataset.shape)

(5032, 9)